  <div class="main-content-container">
    <form action='/surveys' method="post">
      <h3>Survey Title</h3>
      <input type="text" placeholder="Survey Title..." name="name">
      <br><br>
      <input type="submit" value="CREATE ME MOFO">
    </form>
  </div>
