<div class="main-content-container">
  <form method="post" action="/surveys/<%= @survey.id %>/questions">
    <label for="edit-name" class="survey-title"><%=@survey.name%> Survey</label>
    <h3>Add a New Question</h3>
    <textarea rows="2" cols="50" name="new_question" placeholder="Add a new question..."></textarea>
    <h3>Add potential answers</h3>
    <input type="text" name="choice1" placeholder="Answer 1">
    <br><br>
    <input type="text" name="choice2" placeholder="Answer 2">
    <br><br>
    <input type="submit" value="Add Question!" class="add-question" id="<%=@survey.id%>">
  </form>
  <a href="/"><button>Go back home</button></a>
</div>

<%= erb :_survey_contents %>

