<section id="create-new-survey">
	<button><a href='/surveys/new'>Create New Survey</a></button>
</section>
<section class="main-content-container">
	<ul>
		<li>Survey 1
			<button>Take</button>
			<button>Results</button>
			<button>Edit</button>
		</li>
	</ul>
</section>

