<section id="create-new-survey">
	<button><a href='/surveys/new'>Create New Survey</a></button>
</section>
<section class="main-content-container">
	<ul>
		<% @surveys.each do |survey|%>
			<li><%=survey.name%>
			<button><a href="/surveys/<%= survey.id %>">Take</a></button>
			<button><a href="/surveys/<%= survey.id %>/results">Results</a></button>
			<button><a href="/surveys/<%= survey.id %>/edit">Edit</a></button><br><br></li>
			<%end%>
		</li>
	</ul>
</section>

